body{
    font-family: 'REM', sans-serif;
}
body{
    background-image: url(https://media.licdn.com/dms/image/D5603AQE-Z2iknLehZw/profile-displayphoto-shrink_400_400/0/1685717256570?e=1695859200&v=beta&t=eg7j7zkMF0QyK_CymxDlFOhm0oCE8ONPQZ40IVY4qn8);
    background: size 8px;
    background-repeat:;
    background-attachment:scroll;
}